body {
    background-color: rgb(255, 198, 198);
    color: rgb(99, 32, 32);
    text-align: center;

}

h1 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color:rgb(168, 85, 85)
}

